* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #282c34;
}

nav > .navbar {
    position: fixed;
    top: 0;
    height: 120px;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

nav > .navbar > .navbar-top {
    width: 100%;
    height: 65%;
    background-color: #282c34;
    /* border: 1px solid #fff; */
}

nav > .navbar > .navbar-bottom {
    width: 100%;
    height: 35%;
    background-color: #3139d4;
    /* border: 1px solid #fff; */
}

nav > .navbar > .navbar-top > .navbar-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > .navbar > .navbar-bottom > .navbar-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
}

nav > .navbar > .navbar-top > .navbar-container > .box {
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(1) {
    display: flex;
    justify-content: left;
    /* border: 1px solid red; */
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) {
    display: flex;
    justify-content: right;
    padding: 18px 10px;
    align-items: center;
    gap: 20px;
    /* background-color: red; */
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(1) > .image-container {
    width: 80px;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: left;
    padding: 13px 13px 13px 0;
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(1) > .image-container > img {
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .7);
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container {
    width: 70%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background-color: #343841;
    padding: 0 0 0 12px;
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container > input {
    width: 90%;
    background-color: #343841;
    border: none;
    outline: none;
    color: #fff;
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container > input::placeholder {
    color: #fff;
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container > .btn-search {
    width: 10%;
    background-color: #343841;
    border: none;
    cursor: pointer;
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container > .btn-search > .fa-magnifying-glass {
    color: #fff;
}

.nav-mobile-container > .nav-anchor {
    display: block;
    text-decoration: none;
    color: #f6f6f6;
    font-size: 14px;
}

nav > .navbar > .navbar-bottom > .navbar-container > .nav-anchor {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    height: 100%;
    align-items: center;
}

nav > .navbar > .navbar-bottom > .navbar-container > .nav-anchor:hover {
    background-color: #272fcc;
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .hamburger-container {
    width: 27px;
    height: 22px;
    /* border: 1px solid #fff; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .hamburger-container > span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f1f1f1;
}

.nav-mobile-container {
    position: fixed;
    z-index: 99999;
    left: -100vw;
    right: 100vw;
    top: 70px;
    bottom: 0;
    background-color: #262a32;
    transition: .5s;
    /* border: 1px solid #fff; */
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.nav-mobile-container.active {
    left: 0;
    right: 0;
}

/* carousel */
.carousel-container {
    width: 100%;
    height: 600px;
    margin: 120px auto 10px;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
}

.carousel-container > .btn-slide-container {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
}

.carousel-container > .btn-slide-container > .btn-slide {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: 1s;
}

.carousel-container > .carousel-image {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    overflow-x: hidden;
    list-style: none;
    position: relative;
}

.carousel-container > .carousel-image > .image {
    min-width: 100%;
    height: 100%;
    transition: 1s;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.carousel-container > .carousel-image > .image > .hover2 {
    position: absolute;
    background-image: url(../img/8.jpg);
    background-color: rgba(51, 56, 66, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    /* filter: blur(7px); */
    display: flex;
    gap: 10px;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) {
    width: 55%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container {
    width: 95%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1,
.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-2,
.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-3 {
    width: 100%;
    min-height: 30px;
    /* border: 1px solid #fff; */
    padding: 10px;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-3 > h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-3 > p {
    color: #fff;
    font-size: 14px;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .stars {
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .stars > .fa-star {
    font-size: 50px;
    color: #ffd700;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .stars > h5 {
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding-top: 4px;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .title {
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .title > .e-1,
.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .title > .e-2 {
    display: flex;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .title > .e-1  > .anchor {
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    color: #fff;
    text-decoration: none;
    display: block;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .title > .e-1  > .anchor:hover {
    color: #ffd700;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .title > .e-2 > h4 {
    font-size: 20px;
    color: #ffd700;
    font-weight: 600;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-2 > .anchor {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-2 > .anchor:hover {
    color: #3139d4;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(2) {
    width: 45%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}  

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(2) > .image-container {
    max-width: 200px;
    max-height: 300px;
    /* border: 1px solid #fff; */
    border-radius: 7px;
    display: flex;
    overflow: hidden;
}

.carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(2) > .image-container > img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* contents */
.contents {
    width: 90%;
    margin: 0 auto 10px;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contents > .main-contents {
    width: 70%;
    /* border: 1px solid #fff; */
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contents-bookmarks > .sidebar,
.contents > .sidebar {
    width: 30%;
    /* height: 1400px; */
    /* border: 1px solid #fff; */
    /* background-color: #2e333d; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contents > .main-contents > .popular {
    width: 100%;
    /* border: 1px solid #fff; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 10px;
}

.contents > .main-contents > .popular > .box {
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    background-color: #2e333d;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.contents > .main-contents > .popular > .box > .image-container {
    width: 100%;
    height: 60%;
    /* border: 1px solid #fff; */
    display: flex;
    position: relative;
}

.contents > .main-contents > .popular > .box > .image-container > .hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(38, 42, 50, 0);
}

.contents > .main-contents > .popular > .box > .image-container > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.contents > .main-contents > .popular > .box:hover > .image-container > .hover {
    background-color: rgba(38, 42, 50, .4);
}

.contents > .main-contents > .popular > .box:hover > .desc-container > h4 {
    color: #3139d4;
}

.contents > .main-contents > .popular > .box > .desc-container {
    width: 100%;
    height: 40%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.contents > .main-contents > .popular > .box > .desc-container > h4 {
    font-weight: 600;
    color: #fff;
    font-size: 13px;
}

.contents > .main-contents > .popular > .box > .desc-container > h5,
.contents > .main-contents > .popular > .box > .desc-container > .rating > .evaluation > h5 {
    font-weight: 600;
    color: rgb(162, 160, 160);
    font-size: 13px;
}

.contents > .main-contents > .popular > .box > .desc-container > .rating {
    height: 20px;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.contents > .main-contents > .popular > .box > .desc-container > .rating > .stars {
    display: flex;
    gap: 2px;
    /* border: 1px solid #fff; */
    align-items: center;
}

.contents > .main-contents > .popular > .box > .desc-container > .rating > .stars > .fa-star {
    color: #ffd700;
    font-size: 13px;
}

.contents > .main-contents > .popular > .box > .desc-container > .rating > .evaluation {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
}

.contents > .main-contents > .update-lates {
    width: 100%;
    /* border: 1px solid #fff; */
    background-color: #2e333d;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contents > .main-contents > .update-lates > .desc {
    width: 100%;
    height: 50px;
    border-bottom: .1px solid rgb(81, 81, 81);
    display: flex;
    gap: 5px;
}

.contents > .main-contents > .update-lates > .desc > .item {
    width: 50%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    padding: 10px;
}

.contents > .main-contents > .update-lates > .desc > .item:nth-child(1) {
    justify-content: left;
}

.contents > .main-contents > .update-lates > .desc > .item:nth-child(2) {
    justify-content: right;
}

.contents > .main-contents > .update-lates > .desc > .item > h5,
.contents-bookmarks > .sidebar > .desc > h5,
.contents > .sidebar > .desc > h5 {
    color: #fff;
    font-weight: 600;
}

.contents > .main-contents > .update-lates > .desc > .item > .btn-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #3139d4;
    text-decoration: none;
    color: #fff;
    font-size: 8px;
    margin: 5px 0;
    border-radius: 2px;
    font-weight: 600;
}

.contents > .main-contents > .update-lates > .box {
    width: 100%;
    /* border: 1px solid #ffff; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.contents > .main-contents > .update-lates > .box > .item {
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    gap: 15px;
}

.contents > .main-contents > .update-lates > .box > .item > .items {
    width: 50%;
    height: 175px;
    /* border: 1px solid #fff; */
    display: flex;
    gap: 10px;
}

.contents > .main-contents > .update-lates > .box > .item > .items > .image-container {
    width: 35%;
    height: 100%;
    /* border: 1px solid #fff; */
}

.contents > .main-contents > .update-lates > .box > .item > .items > .image-container > img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.contents > .main-contents > .update-lates > .box > .item > .items > .desc-container {
    width: 65%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .title,
.contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .a-1 {
    width: 100%;
    height: 30px;
    /* border: 1px solid #fff; */
}

.contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .a-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #fff; */
}

.contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .a-1 > .a-3 {
    font-size: 13px;
    color: rgb(148, 148, 148);
    font-weight: 600;
    text-decoration: none;
}

.contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .a-1 > h5 {
    color: rgb(96, 96, 96);
    font-weight: 600;
    font-size: 11px;
}

.contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .a-1 > .a-3:hover {
    color: #fff;
}

.contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .title > .a-2 {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .title > .a-2:hover {
    color: #3139d4;
}

.contents-bookmarks > .sidebar > .desc,
.contents > .sidebar > .desc {
    width: 100%;
    height: 50px;
    background-color: #2e333d;
    border-bottom: .1px solid rgb(81, 81, 81);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.contents-bookmarks > .sidebar > .box,
.contents > .sidebar > .box {
    width: 100%;
    background-color: #2e333d;
    /* border: 1px solid #fff; */
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contents-bookmarks > .sidebar > .box > .a-4,
.contents > .sidebar > .box > .a-4 {
    width: 100%;
    height: 50px;
    /* border: 1px solid #fff; */
    display: flex;
    padding: 7px 10px;
}

.contents-bookmarks > .sidebar > .box > .a-4 > .a-6,
.contents > .sidebar > .box > .a-4 > .a-6 {
    width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 4px;
    list-style: none;
    border-radius: 3px;
    background-color: #363b46;
}

.contents-bookmarks > .sidebar > .box > .a-4 > .a-6 > .a-7,
.contents > .sidebar > .box > .a-4 > .a-6 > .a-7 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    /* border: 1px solid #fff; */
    font-size: 12px;
    border-radius: 3px;
    font-weight: 600;
    transition: .2s;
}

.contents-bookmarks > .sidebar > .box > .a-4 > .a-6 > .a-7:hover,
.contents > .sidebar > .box > .a-4 > .a-6 > .a-7:hover {
    color: #3139d4;
}

.contents-bookmarks > .sidebar > .box > .a-4 > .a-6 > .a-7.active,
.contents > .sidebar > .box > .a-4 > .a-6 > .a-7.active {
   background-color: #3139d4;
   color: #fff;
}

.contents-bookmarks > .sidebar > .box > .a-5,
.contents > .sidebar > .box > .a-5 {
    /* border: 1px solid #fff; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item,
.contents > .sidebar > .box > .a-5 > .item {
    width: 100%;
    min-height: 100px;
    /* padding: 10px; */
    display: flex;
    gap: 15px;
    padding: 0 10px;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item:not(:last-child),
.contents > .sidebar > .box > .a-5 > .item:not(:last-child) {
    border-bottom: .1px solid rgb(81, 81, 81);
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .number,
.contents > .sidebar > .box > .a-5 > .item > .number {
    width: 15%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .number > h5,
.contents > .sidebar > .box > .a-5 > .item > .number > h5 {
    color: rgb(154, 153, 153);
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid rgb(154, 153, 153);
    border-radius: 3px;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .image-container,
.contents > .sidebar > .box > .a-5 > .item > .image-container {
    width: 30%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    padding: 7px 10px;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .image-container > img,
.contents > .sidebar > .box > .a-5 > .item > .image-container > img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 3px;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container,
.contents > .sidebar > .box > .a-5 > .item > .desc-container {
    width: 55%;
    height: 100%;
    /* flex: 1; */
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .title,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .title {
    width: 100%;
    height: 30px;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .title > .b-1,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .title > .b-1 {
    color: #fff;
    font-weight: 600;
    display: block;
    text-decoration: none;
    font-size: 14px;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .title > .b-1:hover,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .title > .b-1:hover {
    color: #3139d4;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .genres,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .genres {
    width: 100%;
    min-height: 30px;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 {
    font-size: 12px;
    color: #8c8d8e;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-2,
.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-3,
.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-4,
.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-5,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-2,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-3,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-4,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-5 {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-2:hover,
.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-3:hover,
.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-4:hover,
.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-5:hover,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-2:hover,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-3:hover,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-4:hover,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .genres > h5 > .b-5:hover {
    color: #3139d4;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .rating,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .rating {
    width: 100%;
    height: 30px;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .rating > .stars,
.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .rating > .value,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .rating > .stars,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .rating > .value {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 100%;
    /* border: 1px solid #fff; */
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .rating > .stars > .fa-star,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .rating > .stars > .fa-star {
    color: #ffd700;
    font-size: 13px;
}

.contents-bookmarks > .sidebar > .box > .a-5 > .item > .desc-container > .rating > .value > h5,
.contents > .sidebar > .box > .a-5 > .item > .desc-container > .rating > .value > h5 {
    color: rgb(162, 160, 160);
    font-size: 13px;
    font-weight: 600;
}

/* bookmarks */
.contents-bookmarks {
    width: 90%;
    min-height: 300px;
    /* border: 1px solid #fff; */
    margin: 130px auto 10px;
    display: flex;
    gap: 10px;
}

.contents-bookmarks > .main-contents-bookmarks {
    width: 70%;
    min-height: 200px;
    /* border: 1px solid #fff; */
    border-radius: 3px;
    background-color: #2e333d;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contents-bookmarks > .main-contents-bookmarks > .title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(81, 81, 81);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.contents-bookmarks > .main-contents-bookmarks > .title > h5 {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.contents-bookmarks > .main-contents-bookmarks > .title > .btn-delete {
    padding: 7px 15px;
    background-color: rgb(184, 8, 8);
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgb(184, 8, 8);
    font-size: 12px;
    cursor: pointer;
}

.contents-bookmarks > .main-contents-bookmarks > .box {
    width: 100%;
    min-height: 100px;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.contents-bookmarks > .main-contents-bookmarks > .box > .desc {
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #363b46;
    border-radius: 3px;
}

.contents-bookmarks > .main-contents-bookmarks > .box > .desc > p {
    font-size: 13px;
    color: #fff;
}

.contents-bookmarks > .main-contents-bookmarks > .box > .items {
    width: 100%;
    min-height: 200px;
    /* border: 1px solid #fff; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 10px;
}

.contents-bookmarks > .main-contents-bookmarks > .box > .items > .item {
    background-color: #363b46;
    border-radius: 3px;
}

/* footer  */
footer {
    width: 100%;
    height: 40px;
    background-color: #2e333d;
    /* border-top: .1px solid rgb(80, 80, 80); */
}

footer > .container-footer {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

footer > .container-footer > h5 {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

footer > .container-footer > a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

@media screen and (min-width: 1401px) {
    nav > .navbar > .navbar-top > .navbar-container,
    nav > .navbar > .navbar-bottom > .navbar-container,
    .contents,
    .contents-bookmarks,
    footer > .container-footer {
        width: 1200px;
    }

}

@media screen and (max-width: 1920px) {
    .carousel-container {
        height: 500px;
    }
}

@media screen and (max-width: 1400px) {
    .carousel-container {
        height: 400px;
    }
}

@media screen and (max-width: 1220px) {
    .contents > .main-contents > .popular,
    .contents-bookmarks > .main-contents-bookmarks > .box > .items {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 350px;
        grid-auto-rows: 350px;
    }

    .contents-bookmarks > .sidebar > .box > .a-5 > .item > .image-container,
    .contents > .sidebar > .box > .a-5 > .item > .image-container {
        padding: 10px;
        /* border: 1px solid #fff; */
    }
}

@media screen and (max-width: 1200px) {
    .contents > .main-contents > .update-lates > .box > .item > .items {
        height: 160px;
    }
}

@media screen and (max-width: 1100px) {
    .contents > .main-contents > .popular,
    .contents-bookmarks > .main-contents-bookmarks > .box > .items {
        grid-template-rows: 330px;
        grid-auto-rows: 330px;
    }

    .contents > .main-contents > .update-lates > .box > .item > .items {
        height: 130px;
    }
}

@media screen and (max-width: 1192px) {
    .contents-bookmarks > .sidebar > .box > .a-5 > .item > .image-container,
    .contents > .sidebar > .box > .a-5 > .item > .image-container {
        padding: 15px 10px;
        /* border: 1px solid #fff; */
    }
}

@media screen and (max-width: 1100px) {
    .contents-bookmarks > .sidebar > .box > .a-5 > .item > .image-container,
    .contents > .sidebar > .box > .a-5 > .item > .image-container {
        padding: 15px 5px;
        /* border: 1px solid #fff; */
    }
}

@media screen and (max-width: 1000px) {
    .contents > .main-contents > .popular,
    .contents-bookmarks > .main-contents-bookmarks > .box > .items {
        grid-template-rows: 310px;
        grid-auto-rows: 310px;
    }

    .contents-bookmarks > .sidebar > .box > .a-5 > .item > .image-container,
    .contents > .sidebar > .box > .a-5 > .item > .image-container {
        padding: 15px 0;
    }
}

@media screen and (max-width: 974px) {
    .contents > .main-contents {
        width: 60%;
    }

    .contents-bookmarks > .sidebar,
    .contents > .sidebar {
        width: 40%;
    }

    .contents > .main-contents > .popular,
    .contents-bookmarks > .main-contents-bookmarks > .box > .items {
        grid-template-columns: repeat(3, 1fr);
    }

    .contents > .main-contents > .update-lates > .box > .item {
        flex-wrap: wrap;
    }

    .contents > .main-contents > .update-lates > .box > .item > .items {
        width: 100%;
        height: 195px;
        /* border: 1px solid #fff; */
    }

    .contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .title > .a-2 {
        font-size: 16px;
    }

    .contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .a-1 > .a-3 {
        font-size: 14px;
    }

    .contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .a-1 > h5 {
        font-size: 13px;
    }
}

@media screen and (max-width: 890px) {
    nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container {
        width: 80%;
    }

    nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container > input {
        width: 85%;
    }

    nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container > .btn-search {
        width: 15%;
    }

    .contents > .main-contents > .popular,
    .contents-bookmarks > .main-contents-bookmarks > .box > .items {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
        grid-template-rows: 280px;
        grid-auto-rows: 280px;
    }
}

@media screen and (max-width: 850px) {
    .contents > .main-contents,
    .contents > .sidebar,
    .contents-bookmarks > .sidebar {
        width: 50%;
    }

    .contents > .main-contents > .popular,
    .contents-bookmarks > .main-contents-bookmarks > .box > .items {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        grid-template-rows: 350px;
        grid-auto-rows: 350px;
    }

    .contents > .main-contents > .update-lates > .box > .item > .items {
        height: 150px;
    }
}

@media screen and (max-width: 650px) {
    .contents > .main-contents > .popular,
    .contents-bookmarks > .main-contents-bookmarks > .box > .items {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        grid-template-rows: 320px;
        grid-auto-rows: 320px;
    }

    .contents > .main-contents > .popular > .box > .image-container {
        height: 55%;
    }

    .contents > .main-contents > .popular > .box > .desc-container {
        height: 45%;
    }

    .contents > .main-contents > .update-lates > .box > .item > .items {
        height: 120px;
    }

    .contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .title > .a-2 {
        font-size: 12.5px;
    }

    .contents > .main-contents > .update-lates > .box > .item > .items > .desc-container > .a-1 > .a-3 {
        font-size: 11px;
    }

    .carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .stars > .fa-star {
        font-size: 40px;
        color: #ffd700;
    }

    .carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .stars > .fa-star > h5 {
        font-size: 13px;
    }

    .carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .title > .e-1  > .anchor {
        font-size: 17px;
    }

    .carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-1 > .title > .e-2 > h4 {
        font-size: 15px;
    }

    .carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container > .d-3 {
        display: none;
    }

    .carousel-container > .carousel-image > .image > .hover2 > .box:nth-child(1) > .desc-container {
        gap: 5px;
    }
}

@media screen and (max-width: 576px) {
    nav > .navbar {
        /* border: 1px solid #fff; */
        height: 70px;
    }

    nav > .navbar > .navbar-top {
        background-color: #242dd8;
        /* border: 1px solid red; */
        height: 100%;
    }

    nav > .navbar > .navbar-bottom {
        display: none;
    }

    nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(1) {
        width: 18%;
    }

    nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) {
        width: 82%;
        justify-content: space-between;
    }   

    nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container {
        width: 85%;
    }

    nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .hamburger-container {
        display: flex;
    }

    .nav-mobile-container {
        display: flex;
    }

    nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container > input {
        width: 83%;
    }

    nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) > .search-container > .btn-search {
        width: 17%;
    }

    nav > .navbar > .navbar-top > .navbar-container > .box:nth-child(2) {
        padding: 17px 10px;
    }

    .carousel-container {
        margin: 70px auto 10px;
        height: 250px;
    }

    .contents-bookmarks {
        margin-top: 80px;
    }

    .contents,
    .contents-bookmarks {
        flex-wrap: wrap;
    }

    .contents-bookmarks > .main-contents-bookmarks,
    .contents > .main-contents,
    .contents > .sidebar,
    .contents-bookmarks > .sidebar {
        width: 100%;
        /* border: 1px solid #fff; */
    }

    .contents > .main-contents > .popular,
    .contents-bookmarks > .main-contents-bookmarks > .box > .items {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        grid-template-rows: 320px;
        grid-auto-rows: 320px;
    }

    .contents > .main-contents > .popular > .box > .image-container {
        height: 64%;
    }

    .contents > .main-contents > .popular > .box > .desc-container {
        height: 36%;
    }

    .contents > .main-contents > .update-lates > .box > .item > .items {
        height: 195px;
    }
}

@media screen and (max-width: 450px) {
    .contents > .main-contents > .update-lates > .box > .item > .items {
        height: 185px;
    }
}

@media screen and (max-width: 430px) {
    .contents > .main-contents > .update-lates > .box > .item > .items {
        height: 165px;
    }
}

@media screen and (max-width: 390px) {
    .contents > .main-contents > .update-lates > .box > .item > .items {
        height: 150px;
    }
}

::-webkit-scrollbar {
    width: 19px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}